
@{
    ViewBag.Title = "Settings Panel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin/Seetings page</h2>

@Html.ActionLink("Електронен Дневник", "Index", "ERegSettings", null, new { @class = "btn btn-default"})


